* {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}        


html {
      background-image: url(nfs1.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      
}


#head {
       background-color: #101417;
       width: 1200px;
       height: 150px;
       margin: 0px auto;     
} 

#head img {
           height: 100px;
           margin-top: 25px;
           margin-left: 10px;
}


#underline {
            background-color: #90342D;
            width: 1200px;
            height: 10px;
            margin: 0 auto;
}


#menu { 
       background-color: white;
       height: 90px;
       width: 1200px;
       margin: 0 auto;
       opacity: 0.7;
}



#menu ul {
          list-style:none;

}

#menu li {
          float:left;
          margin-left:0px;
 }
 
 #menu a {
          color: black;
          text-decoration: none;
          display: block;
          background-color: #cccccc;
          display: block;
          height: 60px;
          width: 238px;
          border: 1px solid black;
          text-align: center;
          font-size: 2em;
          padding-top: 28px;
          font-family:; 
 } 
 
 #menu a:hover {
                background-color: #101417;
                color: white;
                
 }


#content {
          background-color: #101417;
          width: 1200px;
          height: 2500px;
          margin: 0 auto;
          opacity: 1;
          
}


#foot {
       background-color: #1A202C;
       width: 1200px;
       height: 100px;
       margin: 0 auto;
}

